* {
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}
.page-1 {
    min-height: 100vh;
    width: 100%;
    background-image: url(../image/1.jpg);
    display: flex;
    flex-direction: column;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.page-1,
.page-2,
.page-3 {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    display: flex;
    align-items: center;
    color: white;
}

.company-name {
    padding-left: 0.3rem;
}

.page-link {
    text-decoration: none;
    padding: 0.3rem;
    font-size: 1.1rem;
}

.signin-btn {
    background-color: #e40690;
    padding: 0.8rem 1.3rem;
    border-radius: 3rem;
}

.page-link:hover {
    color: #e40690;
    border-bottom: 0.2rem solid #e40690;
    transition: 0.2s ease-in;
}

.signin-btn:hover {
    color: white;
    padding: 0.8rem 1.5rem;
    transition: 0.25s ease-in;
}

main {
    text-align: center;
    position: absolute;
    top: 40%;
    width: 100%;
    color: white;
}

.slogan .title {
    font-weight: 700;
    letter-spacing: 0.125rem;
}

.slogan .tagline {
    margin: 2rem 0.8rem;
    font-weight: 600;
    letter-spacing: 0.125rem;
}

#p1-button {
    margin-top: 0.8rem;
}


.btn-fill {
    padding: 0.9rem 1.6rem;
    border-radius: 3rem;
    background-color: #e40690;
    margin: 0.8rem;
}

.btn-outline {
    padding: 0.9rem 1.6rem;
    border-radius: 3rem;
    border: 0.125rem solid #e40690;
}

.btn-fill:hover {
    padding: 1rem 2rem;
    transition: 0.25s ease-in;

}

.btn-outline:hover {
    background-color: #e40690;
    padding: 1rem 2rem;
    transition: 0.25s ease-in;
}



.section {
    padding: 3rem 4rem;
    text-align: center;
    letter-spacing: 0.06rem;
}

.section_light {
    color: #2d2d2d;
    background-color: white;
}

.section h2  {
    padding: 1.5rem 0rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}


.page-2 {
    min-height: 100vh;
    width: 100%;
    background-image: url(../image/2.jpg);
    display: flex;
    flex-direction: column;
}

.section_dark {
    position: absolute;
    bottom: 0%;
    width: 100%;
    color: white;
    background-color: #2d2d2d;
}

.hero_text{
    text-align: center;
    position: absolute;
    top: 30%;
    width: 100%;
    color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    font-weight: 500;

}
.hero_text_bg {
    background-color: #2d2d2d;
    padding: 1rem 1.5rem;
}

.page-3 {
    min-height: 100vh;
    width: 100%;
    background-image: url(../image/3.jpg);
    display: flex;
    flex-direction: column;
}

.section_gray {
    position: absolute;
    top: 50%;
    width: 100%;
    color: white;
    background-color: #2d2d2d;
}

@media (max-width:930px) {
    nav {
        flex-direction: column;
        align-items: baseline;
    }
    .page-section {
        visibility: hidden;
    }

    .page-2 {
        min-height: 150vh;
    }
    
}